.card-container {
    background-color: bisque;
    display: flex;
    flex-direction: row;
    height: 400px;
    align-items: center;
    justify-content: space-around;
}

.img {
    height: 400px;
    width: 400px;
}

.section {
    display: flex;
}

.section-img {
    height: 210px;
    border: 4px solid #f3d2c1;
    display: block;
    margin: 20px auto;
}

.img-container {
    width: 50%;
}